<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">

    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        Navigation
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    <!-- /sidebar mobile toggler -->


    <!-- Sidebar content -->
    <div class="sidebar-content">

        <!-- Main navigation -->
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">

                <!-- Main -->
                <li class="nav-item-header">
                    <div class="text-uppercase font-size-xs line-height-xs">Main</div>
                    <i class="icon-menu" title="Main"></i>
                </li>
                <li class="nav-item">
                    <a href="/dashboard" class="nav-link">
                        <span>Dashboard</span>
                    </a>
                </li>


                <li class="nav-item">
                    <a href="/event-registration" class="nav-link">
                        <span>Event Registration</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/menu" class="nav-link">
                        <span>Menu</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home_page" class="nav-link">
                        <span>Home Page Item</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/event" class="nav-link">
                        <span>Event</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/publication" class="nav-link">
                        <span>News & Publication</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/event_sponsors" class="nav-link">
                        <span>Event Sponsors</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/donation_career" class="nav-link">
                        <span>Donation & Career</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/notice_board" class="nav-link">
                        <span>Notice Board</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/page" class="nav-link">
                        <span>Page</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/members" class="nav-link">
                        <span>Member</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/expired_members" class="nav-link">
                        <span>Expired Members</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/batch_session" class="nav-link">
                        <span>Batch/Session</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/occupation" class="nav-link">
                        <span>Occupation</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/job" class="nav-link">
                        <span>Job Post</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/scrolling_news" class="nav-link">
                        <span>Scrolling News</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/category" class="nav-link">
                        <span>Category</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/designation" class="nav-link">
                        <span>Designation</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/committee" class="nav-link">
                        <span>Committee</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/donate_list" class="nav-link">
                        <span>Donate</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/gallery" class="nav-link">
                        <span>Gallery</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/contacts" class="nav-link">
                        <span>Contacts</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home_slider" class="nav-link">
                        <span>Home Slider</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/home_popup" class="nav-link">
                        <span>Home Popup</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/about_us_message" class="nav-link">
                        <span>About us message</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/programs" class="nav-link">
                        <span>Programs</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/collection-payments" class="nav-link">
                        <span>Collection of Payments</span>
                    </a>
                </li>
<!--                <li class="nav-item">-->
<!--                    <a href="/right_top_three_card" class="nav-link">-->
<!--                        <span>Right Top Three Card</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="/nec_member" class="nav-link">-->
<!--                        <span>NEC Member</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="/branch" class="nav-link">-->
<!--                        <span>Branch</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="/branch_information" class="nav-link">-->
<!--                        <span>Branch Information</span>-->
<!--                    </a>-->
<!--                </li>-->

<!--                <li class="nav-item">-->
<!--                    <a href="/associate_institutions" class="nav-link">-->
<!--                        <span>Associate Institutions</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="/important_link" class="nav-link">-->
<!--                        <span>Important Link</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="/page" class="nav-link">-->
<!--                        <span>Page</span>-->
<!--                    </a>-->
<!--                </li>-->
<!--                <li class="nav-item">-->
<!--                    <a href="/scrolling_news" class="nav-link">-->
<!--                        <span>Scrolling News</span>-->
<!--                    </a>-->
<!--                </li>-->
                <!-- /main -->
            </ul>
        </div>
        <!-- /main navigation -->

    </div>
    <!-- /sidebar content -->

</div>
<!-- /main sidebar -->
