<!-- Page header -->
<div class="page-header page-header-light">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-md-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a href="/" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Member</a>
                <span class="breadcrumb-item active">Member List</span>
            </div>
            <a href="#" class="header-elements-toggle text-default d-md-none"><i class="icon-more"></i></a>
        </div>
    </div>
</div>
<!-- /page header -->

<!-- Content area -->
<div class="content">

    <!-- Style combinations -->
    <div class="card">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">Member list</h5>
        </div>

        <div class="card-body">

            <div class="d-flex" >
                <button onclick="location.href='/member/add'" type="button" class="btn btn-primary">
                    <i class="icon-plus2  mr-2"></i>
                    Add Member
                </button>

                <form action="/members/excel_report" method="post" name="form1">
                    <button id="export_user" onclick="location.href='#'" type="submit" class="btn btn-primary" style="margin-left: 10px">
                        Export User
                    </button>
                </form>

                <div style="margin-left: 25px">
                    <form id="uploadForm" enctype="multipart/form-data">
                        <div class=" d-flex">
                            <input type="file" id="fileInput" name="file" class="form-input-styled" data-fouc>
                            <button id="import_user" type="button" class="btn btn-primary" style="margin-left: 10px">
                                Import User
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <table id="list" class="table datatable-basic table-bordered table-striped table-hover">
            <thead>
            <tr>
                <th>Name</th>
                <th>Phone Number</th>
                <th>Email</th>
                <th>Session</th>
                <th>Type</th>
                <th class="text-center">Payment</th>
                <th>Approval</th>
                <th class="text-center">Actions</th>
            </tr>
            </thead>
            <tbody></tbody>
        </table>

    </div>
    <!-- /style combinations -->



</div>
<!-- /content area -->

<input type="file" id="fileInput" style="display:none;" accept=".xls, .xlsx">
<input type="hidden" id="categoryid" value="<%=data.categoryid%>">

<script>
    $(document).ready(function() {

        $( "#import_user" ).on( "click", function() {
            const formData = new FormData();
            const fileInput = document.getElementById('fileInput');

            if(fileInput.files.length !== 0){
                formData.append('file', fileInput.files[0]);

                $.ajax({
                    url: '/members/import_excel',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function(response) {
                        if(response.success){
                            alert('File uploaded successfully');
                            console.log(response);
                            window.location.href = "/members";
                        }

                    },
                    error: function(xhr, status, error) {
                        alert('Error uploading file');
                        console.error(error);
                    }
                });
            }else{
                alert("Please choose excel file!")
            }

        });

        function dataLoad() {
            $('#list').DataTable( {
                "processing": true,
                "serverSide": true,
                "ordering": false,
                "search": true,
                "destroy": true,
                "pageLength": 50,
                "language": {
                    "searchPlaceholder": "Filter by title"
                },
                "ajax": {
                    "url": "/members/data_list",
                    "type": "POST",
                    "datatype": "json",
                    "data": function (d) {
                        d.categoryid = $('#categoryid').val();
                    }
                },
                "createdRow": function( row, data, dataIndex ) {
                    if ( data.is_pay === 1 ) {
                        $('td:eq(5)', row).html('<span class="badge badge-success">Pay</span>');
                    }else{
                        $('td:eq(5)', row).html('<span class="badge badge-secondary">Not Pay</span>');
                    }
                    if ( data.admin_approval === 1 ) {
                        $('td:eq(6)', row).html('<span class="badge badge-success">Approved</span>');
                    }else{
                        $('td:eq(6)', row).html('<span class="badge badge-secondary">Not Approved</span>');
                    }
                },
                "columns": [
                    { "data": "name" },
                    { "data": "phone_number" },
                    { "data": "email" },
                    { "data": "session" },
                    { "data": "category_name" },
                    { "data": "is_pay" },
                    { "data": "admin_approval" },
                    { "data": "action" },
                ]
            });
        }

        dataLoad();

        // Custom bootbox dialog with form
        $("#list").on('click', '#delete', function () {
            var delid = $(this).attr('data-delete-id');
            bootbox.confirm({
                title: 'Delete',
                message: 'Do you want to delete?',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-link'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: "/member/del",
                            data: { del_id: delid },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                if (data.success) {
                                    window.location.href = "/members";
                                } else {
                                    bootbox.alert({
                                        title: 'Delete Faild!',
                                        message: data.message
                                    });
                                }
                            }
                        });
                    }
                }
            });
        });

        $("#list").on('click', '#approve', function () {
            var approveID = $(this).attr('data-approve-id');
            bootbox.confirm({
                title: 'Approve',
                message: 'Do you want to approve?',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-link'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: "/member/approve",
                            data: { approve_id: approveID },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                if (data.success) {
                                    window.location.href = "/members";
                                } else {
                                    bootbox.alert({
                                        title: 'Delete Faild!',
                                        message: data.message
                                    });
                                }
                            }
                        });
                    }
                }
            });
        });

        $("#list").on('click', '#not_approve', function () {
            var approveID = $(this).attr('data-approve-id');
            bootbox.confirm({
                title: 'Approve Cancel',
                message: 'Do you want to approve cancel ?',
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-primary'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-link'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.ajax({
                            type: "post",
                            url: "/member/not_approve",
                            data: { approve_id: approveID },
                            datatype: "json",
                            traditional: true,
                            success: function (data) {
                                if (data.success) {
                                    window.location.href = "/members";
                                } else {
                                    bootbox.alert({
                                        title: 'Delete Faild!',
                                        message: data.message
                                    });
                                }
                            }
                        });
                    }
                }
            });
        });

        $("#filter").click(function(){
            dataLoad();
        });


    });
</script>
